// Global Variables
:root {
  --color-background: #efefef;

  --color-primary: #ed6907;
  --color-secondary: #2b3043;

  --color-primary-0: #000000;
  --color-primary-10: #341100;
  --color-primary-20: #552100;
  --color-primary-25: #662900;
  --color-primary-30: #783100;
  --color-primary-35: #8b3a00;
  --color-primary-40: #9e4300;
  --color-primary-50: #c55500;
  --color-primary-60: #ed6907;
  --color-primary-70: #ff8d4c;
  --color-primary-80: #ffb691;
  --color-primary-90: #ffdbcb;
  --color-primary-95: #ffede6;
  --color-primary-98: #fff8f6;
  --color-primary-99: #fffbff;
  --color-primary-100: #ffffff;

  --color-secondary-0: #000000;
  --color-secondary-010: #161b2d;
  --color-secondary-020: #2b3043;
  --color-secondary-025: #363b4f;
  --color-secondary-030: #41465b;
  --color-secondary-035: #4d5267;
  --color-secondary-040: #595d73;
  --color-secondary-050: #71768d;
  --color-secondary-060: #8b90a7;
  --color-secondary-070: #a6aac2;
  --color-secondary-080: #c1c5de;
  --color-secondary-090: #dde1fb;
  --color-secondary-095: #eff0ff;
  --color-secondary-098: #faf8ff;
  --color-secondary-099: #fefbff;
  --color-secondary-0100: #ffffff;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;

  --toolbar-height: 85px;
}
