<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [fixedTopGap]="toolbarHeight"
    [fixedInViewport]="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list *ngFor="let entry of menuConfig">
      <a
        mat-list-item
        tabindex="0"
        (click)="handleMenuTriggering(entry)"
        (keydown.enter)="handleMenuTriggering(entry)"
        [ngClass]="{ active: entry.active }"
      >
        <mat-icon matListItemIcon>{{ entry.icon }}</mat-icon>
        {{ entry.label }}
        <span class="menu-item__count" *ngIf="entry.results">{{
          entry.results
        }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <section>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{ pageTitle }}</span>
      </section>
      <section>search</section>
      <section class="toolbar-page-actions">
        <ng-container *ngFor="let action of pageActions">
          <button
            mat-button
            (click)="action.action()"
            (keydown.enter)="action.action()"
          >
            <mat-icon aria-label="Side nav action icon">{{
              action.icon
            }}</mat-icon>
            {{ action.label }}
          </button>
        </ng-container>
      </section>
    </mat-toolbar>
    <section class="main-section">
      <ng-content></ng-content>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
