.sidenav-container {
  height: calc(100% - var(--toolbar-height));
}

.sidenav {
  width: 300px;
  background-color: white;
  border-radius: unset;
  padding: var(--spacing-lg);
}

.mat-toolbar {
  height: auto;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid lightgrey;
  padding: var(--spacing-md);
  overflow-x: hidden;

  button[mat-icon-button] {
    margin-right: var(--spacing-md);
  }

  span {
    font-weight: bold;
    font-size: small;
    letter-spacing: 0.1ch;
    text-transform: uppercase;
  }
}

.mat-mdc-list-item {
  &:hover::ng-deep,
  &.active::ng-deep {
    mat-icon,
    span {
      color: var(--color-primary);
    }
  }
  .menu-item {
    &__count {
      float: right;
      color: grey;
    }
  }
}

mat-sidenav-content {
  background: var(--color-background);
}

section {
  display: flex;
  align-items: center;

  &.main-section {
    background: var(--color-background);
    border: 1px solid lightgray;
    overflow-x: auto;
    display: flex;
  }

  &.toolbar-interactions {
    float: right;
    &__page-actions {
      button {
        background-color: var(--color-primary);
        color: white;
        margin-left: var(--spacing-md);
      }
    }

    &__search {
      margin-left: var(--spacing-md);
    }
  }
}
