<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [fixedTopGap]="toolbarHeight"
    [fixedInViewport]="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list *ngFor="let entry of menuConfig">
      <a
        mat-list-item
        tabindex="0"
        (click)="handleMenuTriggering(entry)"
        (keydown.enter)="handleMenuTriggering(entry)"
        [ngClass]="{ active: entry.active }"
      >
        <mat-icon matListItemIcon>{{ entry.icon }}</mat-icon>
        {{ entry.label }}
        <span class="menu-item__count" *ngIf="entry.results">{{
          entry.results
        }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <section>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span *ngIf="(isHandset$ | async) === false">{{ pageTitle }}</span>
      </section>
      <section class="toolbar-interactions">
        <section class="toolbar-interactions__search smaller-density-2">
          <button
            *ngIf="clearFiltersVisible; else filtersButton"
            mat-icon-button
            (click)="filtersCleared.emit()"
          >
            <mat-icon>filter_list_off</mat-icon>
          </button>
          <ng-template #filtersButton>
            <button mat-icon-button (click)="filtersTriggered.emit()">
              <mat-icon>filter_list</mat-icon>
            </button>
          </ng-template>
          <mat-form-field subscriptSizing="dynamic">
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              placeholder="search"
              type="search"
              [formControl]="search"
            />
          </mat-form-field>
        </section>
        <section class="toolbar-interactions__page-actions">
          <ng-container *ngFor="let action of pageActions">
            <button
              mat-flat-button
              (click)="action.action()"
              (keydown.enter)="action.action()"
            >
              <mat-icon aria-label="Side nav action icon">{{
                action.icon
              }}</mat-icon>
              {{ action.label }}
            </button>
          </ng-container>
        </section>
      </section>
    </mat-toolbar>
    <section class="main-section">
      <ng-content></ng-content>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
