.sidenav-container {
  height: calc(100% - var(--toolbar-height));
}

.sidenav {
  width: 300px;
  background-color: white;
  border-radius: unset;
  padding: var(--spacing-lg);
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid lightgrey;
  padding: var(--spacing-md);

  button[mat-icon-button] {
    margin-right: var(--spacing-md);
  }

  section {
    display: flex;
    align-items: center;
  }

  span {
    font-weight: bold;
    font-size: small;
    letter-spacing: 0.1ch;
    text-transform: uppercase;
  }

  section.toolbar-page-actions {
    float: right;
    button {
      background-color: var(--color-primary) !important ;
      color: white;
    }
  }
}

mat-sidenav-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  background: var(--color-background);
}

.mat-mdc-list-item {
  &:hover::ng-deep,
  &.active::ng-deep {
    mat-icon,
    span {
      color: var(--color-primary);
    }
  }
  .menu-item {
    &__count {
      float: right;
      color: grey;
    }
  }
}

section.main-section {
  background: var(--color-background);
  border: 1px solid lightgray;
  // padding: var(--spacing-lg) var(--spacing-xl);
}
